<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.filename</string>
    <key>ProgramArguments</key>
    <array>
        <string>/path/to/automount.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/filename.stdout</string>
    <key>StandardErrorPath</key>
    <string>/tmp/filename.stderr</string>
</dict>
</plist>
